div
    div(class = 'method') DELETE  
    div(class = 'route') http://localhost:1337/api/stats/{resortId}
    div(class = 'description') Deletes the stats that correspond with the given resort ID from the database.
    div(class = 'response') Response:
        pre
            | We have removed the stats for resort #23 from the database.