div
    div(class = 'method') DELETE  
    div(class = 'route') http://localhost:1337/api/resorts/{id}
    div(class = 'description') Deletes the ski resort that corresponds with the given ID from the database. Any dependent chairlifts or stats must be deleted first.
    div(class = 'response') Response:
        pre
            | We have removed resort #23 from the database.
