div
    div(class = 'method') DELETE  
    div(class = 'route') http://localhost:1337/api/chairlifts/{id}
    div(class = 'description') Deletes the chairlift that corresponds with the given ID from the database.
    div(class = 'response') Response:
        pre
            | We have removed chairlift #23 from the database.
