div
    div(class = 'method') GET 
    div(class = 'route') http://localhost:1337/chairlifts
    div(class = 'description') Returns a list of all chairlifts (and rope-tows, T-bars, carpets, etc) in Vermont. ShapeLength is given in meters.
    div(class = 'response')
        pre
                | ...
                |   [{
                |   id: 7,
                |   liftType: "Quad Chairlift",
                |   liftName: "Coleman Brook Express Quad",
                |   resortId: 18,
                |   shapeLength: 755.747654117311,
                |   createdAt: null,
                |   updatedAt: null,
                |   deletedAt: null
                |   }, {
                |   id: 8,
                |   liftType: "Triple Chairlift",
                |   liftName: "Sundance",
                |   resortId: 16,
                |   shapeLength: 1552.66466283445,
                |   createdAt: null,
                |   updatedAt: null,
                |   deletedAt: null
                |   }]
                | ... 
