div
    div(class = 'method') GET 
    div(class = 'route') http://localhost:1337/chairlifts/{resortId}
    div(class = 'description') Returns a list of all chairlifts at a given resort. 
    div(class = 'response')
        pre
                | ...
                |   [{
                |   id: 27,
                |   liftType: "Gondola",
                |   liftName: "Over Easy Gondola",
                |   resortId: 23,
                |   shapeLength: 491.7109834617,
                |   createdAt: null,
                |   updatedAt: null,
                |   deletedAt: null
                |   }, {
                |   id: 33,
                |   liftType: "Gondola",
                |   liftName: "Gondola",
                |   resortId: 23,
                |   shapeLength: 2214.54781285022,
                |   createdAt: null,
                |   updatedAt: null,
                |   deletedAt: null
                |   }]
                | ... 
