div
    div(class = 'method') GET 
    div(class = 'route') http://localhost:1337/resorts/{name}
    div(class = 'description') Returns the ski resort that corresponds with the given name.
    div(class = 'response')
        pre
            | [{
            |   id: 23,
            |   resortName: "Stowe",
            |   town: "Stowe"
            |   website: "https://www.stowe.com/"
            |   createdAt: null ,
            |   updatedAt: null,
            |   deletedAt: null
            | }]