div(class = 'method') GET 
div(class = 'route') http://localhost:1337/resorts 
div(class = 'description') Returns a list of all ski resorts in Vermont.
div(class = 'response')
    pre
            | ...
            | [{
            |   id: 23,
            |   resortName: "Stowe",
            |   town: "Stowe"
            |   website: "https://www.stowe.com/"
            |   createdAt: null,
            |   updatedAt: null,
            |   deletedAt: null
            | }, {
            |   id: 24,
            |   resortName: "Stratton Mountain",
            |   town: "Stratton"
            |   website: "https://www.stratton.com/"
            |   createdAt: null,
            |   updatedAt: null,
            |   deletedAt: null
            | }]
            | ... 
