div(class = 'method') GET 
div(class = 'route') http://localhost:1337/stats 
div(class = 'description') Returns a list of all stats for each resort in Vermont. Measurements given in feet.
div(class = 'response')
    pre
            | ...
            | [{
            |   resortId: 1,
            |   trails: 8,
            |   acres: 26,
            |   verticalDrop: 450,
            |   highestElevation: 1250,
            |   createdAt: null,
            |   updatedAt: null,
            |   deletedAt: null
            | }, {
            |   resortId: 2,
            |   trails: 2,
            |   acres: 5,
            |   verticalDrop: 200,
            |   highestElevation: 700,
            |   createdAt: null,
            |   updatedAt: null,
            |   deletedAt: null
            | }]
            | ... 
