html
    include partials/head.pug 
    body 
        div(class='header')
            a(href='/')
                img(src="/images/alpine.png", class='logo', height='120')
            div(class='line')
        div(class='sidebar')
            div(class='side-section')
                a(href='#get-resorts' class='sidebar-link') Get Resorts
                a(href='#get-resort-by-name' class='sidebar-link') Get Resort By Name
                a(href='#post-resort' class='sidebar-link') Post a Resort 
                a(href='#delete-resort' class='sidebar-link') Delete a Resort 
            div(class='side-section')
                a(href='#get-chairlifts' class='sidebar-link') Get Chairlifts 
                a(href='#get-chairlift-by-resort' class='sidebar-link') Get Chairlifts by Resort  
                a(href='#post-chairlift' class='sidebar-link') Post a Chairlift  
                a(href='#delete-chairlift' class='sidebar-link') Delete a Chairlift 
            div(class='side-section')
                a(href='#get-stats' class='sidebar-link') Get Stats  
                a(href='#get-stats-by-resort' class='sidebar-link') Get Stats by Resort (id)
                a(href='#post-stats' class='sidebar-link') Post Stats 
                a(href='#put-stats' class='sidebar-link') Put Stats
                a(href='#delete-stats' class='sidebar-link') Delete Stats
            div(class='back-to-top')
                a(href='/' class='sidebar-link') Back to Top

        div(class='content' id='resort-content')
            div(class='doc' id='get-resorts') 
                include partials/getResorts.pug
            div(class='doc' id='get-resort-by-name')
                include partials/getResortByName.pug
            div(class='doc' id='post-resort')
                include partials/postResort.pug
            div(class='doc' id='delete-resort')
                include partials/deleteResort.pug

        div(class='content' id='chairlift-content')
            div(class='doc' id='get-chairlifts') 
                include partials/getChairlifts.pug
            div(class='doc' id='get-chairlift-by-resort')
                include partials/getChairliftByResort.pug 
            div(class='doc' id='post-chairlift')
                include partials/postChairlift.pug
            div(class='doc' id='delete-chairlift')
                include partials/deleteChairlift.pug

        div(class='content' id='stats-content')
            div(class='doc' id='get-stats') 
                include partials/getStats.pug
            div(class='doc' id='get-stats-by-resort')
                include partials/getStatsByResort.pug 
            div(class='doc' id='post-stats')
                include partials/postStats.pug
            div(class='doc' id='put-stats')
                include partials/putStats.pug
            div(class='doc' id='delete-stats')
                include partials/deleteStats.pug