html
    include partials/head.pug 
    body 
        h1 Alpine API
        div(class='sidebar')
        div(class='content')
            h2(class='documentation-title') Documentation 
            div(class='doc' id='get-resorts') 
                include partials/getResorts.pug