.sidebar {
    height: 100%;
    width: 150px;
    position: sticky;
    float: left;
    top: 0px;
    background-color: rgb(193, 193, 237);
}

.sidebar-link {
    display: block;
    color: white;
    border-bottom: 1px solid white;
    padding: 5px;
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: rgb(72, 72, 99);
}

.content {
    margin: 0 10% 0 15%;
}

.doc {
    width: 100%;
    margin-top: 10px;
}

.method {
    background-color: rgb(193, 193, 237);
    padding: 10px 0 10px 0;
    width: 20%;
    float: left;
    text-align: center;
    color: white;
}

.route {
    background-color: rgb(131, 131, 184);
    padding: 10px 0 10px 0;
    margin-left: 5px;
    float: inline-right;
    text-align: center;
    color: white;
}

.description {
    background-color: rgb(72, 72, 99);
    margin-top: 5px;
    text-align: center;
    padding: 10px 0 10px 0;
    display: block;
    color: white;
}

.response {
    background-color: rgb(109, 109, 119);
    color: white;
    margin-top: 5px;
    padding: 1px 10px 1px 10px;
}